@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap");
@keyframes title-h1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFFFFF;
  font-size: 1.6rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  max-width: 114rem;
  border: 1px solid;
}

.title-2 {
  font-size: 3.6rem;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}
@media screen and (max-width: 940px) {
  .title-2 {
    font-size: 2.8rem;
  }
}

.title-2_3 {
  font-size: 2.4rem;
}
@media screen and (max-width: 940px) {
  .title-2_3 {
    font-size: 1.6rem;
  }
}

.link-mail {
  color: #D4C17F;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header-section {
  height: -moz-max-content;
  height: max-content;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg") center/cover no-repeat;
}

.header-section__container {
  height: 100vh;
  padding: 3rem 1.5rem 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section__top--mobile {
  position: fixed;
  padding: 4rem 0;
  background: #242B33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 6rem;
}
.header-section__top--mobile .header-section__nav {
  display: block;
}
.header-section__top--mobile .nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
.header-section__top--mobile .header-section__nav-btn {
  position: fixed;
  top: 5rem;
  right: 1.5rem;
}

.header-section__nav-btn {
  display: none;
}
@media screen and (max-width: 940px) {
  .header-section__nav-btn {
    display: block;
  }
}

.header-section__logo {
  transition: transform 0.2s ease-in;
}
.header-section__logo img {
  width: 100%;
  height: 100%;
}
.header-section__logo:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 940px) {
  .header-section__nav {
    display: none;
  }
}

.header-section__title {
  text-align: center;
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  line-height: 130%;
  animation: title-h1 2s ease;
}
@media screen and (max-width: 940px) {
  .header-section__title {
    font-size: 3.2rem;
  }
}

.header-section__bottom {
  text-align: center;
}
@media screen and (max-width: 940px) {
  .header-section__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
  }
}

.info {
  font-size: 1.8rem;
  position: relative;
  padding-left: 3.5rem;
}
@media screen and (max-width: 940px) {
  .info {
    font-size: 1.4rem;
    padding-left: 3rem;
  }
}
.info:not(:last-child) {
  margin-right: 10rem;
}
@media screen and (max-width: 940px) {
  .info:not(:last-child) {
    margin: 0;
  }
}
.info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 2.1rem;
  height: 2.1rem;
  background: url(./../../icons//header/placeholder.svg) no-repeat;
}
.info_tel::before {
  background: url(./../../icons//header/phone-call.svg) no-repeat;
}

.nav {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.nav-icon-btn {
  position: fixed;
  top: 3.5rem;
  right: 1.5rem;
  z-index: 555;
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.benefits {
  padding: 12rem 0;
  position: relative;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 40rem;
  transition: all 0.2s ease-in;
  left: calc(50% + 55rem);
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1439px) {
  .benefits::after {
    display: none;
  }
}
.benefits:hover::after {
  opacity: 0.2;
}
@media screen and (max-width: 940px) {
  .benefits {
    padding: 9rem 0;
  }
}

.benefits__row {
  display: flex;
  justify-content: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}
@media screen and (max-width: 940px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    justify-content: center;
    gap: 4rem 3rem;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 5.3rem;
}
@media screen and (max-width: 940px) {
  .benefits__item-img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 2rem;
  }
}

.benefits__item-text {
  font-size: 2rem;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 940px) {
  .benefits__item-text {
    font-size: 1.6rem;
  }
}

.apartments {
  position: relative;
  padding: 0 1.5rem;
}
.apartments::before {
  content: "III";
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 40rem;
  transition: all 0.2s ease-in;
  right: calc(50% + 55rem);
  transform: translate(50%, 0);
}
@media screen and (max-width: 1439px) {
  .apartments::before {
    display: none;
  }
}
.apartments:hover::before {
  opacity: 0.2;
}

.apartments__title {
  margin-bottom: 8.8rem;
}
@media screen and (max-width: 940px) {
  .apartments__title {
    margin-bottom: 4.4rem;
  }
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 3rem;
}
@media screen and (max-width: 940px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }
}

.card {
  max-width: 54rem;
  max-height: 32rem;
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 7;
  top: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  border: 0.3rem double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover::after {
  opacity: 1;
  color: #FFFFFF;
}
.card:hover {
  color: #FFFFFF;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 5;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 8;
  left: 5rem;
  right: 2rem;
  bottom: 4.4rem;
  font-size: 2.4rem;
}
@media screen and (max-width: 940px) {
  .card__title {
    font-size: 2rem;
    left: 3rem;
    bottom: 3rem;
  }
}

.cta {
  padding: 18rem 1.5rem;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 50.52%, #242B33 90.1%), url("./../../img/cta/cta-bg.jpg") center/cover no-repeat;
}
@media screen and (max-width: 940px) {
  .cta {
    padding: 9rem 1.5rem;
  }
}

.cta__title {
  margin-bottom: 3.8rem;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
@media screen and (max-width: 940px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.cta__text {
  line-height: 1.5;
}
@media screen and (max-width: 940px) {
  .cta__text {
    font-size: 1.4rem;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem 3rem;
}
@media screen and (max-width: 940px) {
  .cta__form {
    grid-template-columns: minmax(20rem, 30rem);
  }
}

.form__input {
  height: 5rem;
  padding: 1.2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 1.4rem;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.form__privacy {
  font-size: 1.3rem;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
}
@media screen and (max-width: 940px) {
  .form__privacy {
    grid-row: 4/5;
  }
}

.form__btn {
  height: 5rem;
  background: #D4C17F;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.form__btn:hover {
  background: #e5ca6e;
  transform: scale(1.05);
}

.video {
  position: relative;
  padding: 0 1.5rem;
  overflow: hidden;
}
.video::after {
  content: "IV";
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 40rem;
  transition: all 0.2s ease-in;
  left: calc(50% + 55rem);
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1439px) {
  .video::after {
    display: none;
  }
}
.video:hover::after {
  opacity: 0.2;
}

.video__link {
  max-width: 72rem;
  max-height: 65rem;
  margin: 0 auto;
  position: relative;
  display: block;
}
.video__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: all 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.6);
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 940px) {
  .video__icon {
    width: 8rem;
    height: 8rem;
  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.video__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-map {
  padding: 13rem 1.5rem;
  position: relative;
}
.section-map::before {
  content: "V";
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 40rem;
  transition: all 0.2s ease-in;
  z-index: -1;
  top: 16rem;
  right: calc(50% + 55rem);
  transform: translate(50%, 0);
}
@media screen and (max-width: 1439px) {
  .section-map::before {
    display: none;
  }
}
.section-map:hover::before {
  opacity: 0.2;
}
@media screen and (max-width: 940px) {
  .section-map {
    padding: 9rem 1.5rem;
  }
}

.section-map__title {
  margin-bottom: 8.8rem;
}
@media screen and (max-width: 940px) {
  .section-map__title {
    margin-bottom: 4.4rem;
  }
}

.map {
  height: 36rem;
  background: #626262;
}

[class*=copyrights-pane] {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  filter: grayscale(1) sepia(10%);
}

[class*=balloon__layout], [class*=balloon__content] {
  background-color: #242b33 !important;
  color: #fff !important;
}

[class*=balloon__tail]::after {
  background-color: #242b33 !important;
}

[class*=balloon_layout_panel] {
  background-color: #242b33 !important;
}

[class*=balloon__layout], [class*=balloon__content] a {
  color: #D4C17F !important;
}

[class*=balloon__close-button] {
  background: url("../../icons/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

.feedback {
  padding: 18rem 1.5rem;
}
@media screen and (max-width: 940px) {
  .feedback {
    padding: 9rem 1.5rem;
  }
}

.feedback__title {
  margin-bottom: 3.8rem;
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: center;
}
@media screen and (max-width: 940px) {
  .feedback__form {
    grid-template-columns: minmax(20rem, 30rem);
    justify-content: center;
  }
}

.footer {
  padding: 7rem 1.5rem 5rem;
  background: #2D343C;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 940px) {
  .footer {
    padding: 3.5rem 1.5rem 2.5rem;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media screen and (max-width: 940px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  }
}

.footer__logo {
  margin-top: -1.2rem;
  transition: transform 0.2s ease-in;
}
.footer__logo:hover {
  transform: scale(1.05);
}

.footer__nav-list {
  display: grid;
  gap: 1.5rem;
}

.footer__adress {
  display: grid;
  gap: 2rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.2rem;
       column-gap: 2.2rem;
}

.footer__item_link {
  transition: transform 0.2s ease-in;
}
.footer__item_link:hover {
  transform: scale(1.2);
}

/* Parent element can be any width and height */
.youtubelightbox {
  z-index: 999;
  position: fixed;
  width: 100%; /* can be any width */
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  text-align: center;
}

.youtubelightbox:before { /* pseudo element to force vertical centering of child element */
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.youtubelightbox:after { /* pseudo element to create overlay */
  background: black;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 10;
}

/* Centered child element can be any width and height */
.youtubelightbox__centeredchild {
  position: relative; /* position element to participate in z-indexing */
  z-index: 20; /* higher z-index than overlay */
  display: inline-block;
  vertical-align: middle;
  width: 80%; /* can be any width */
}

/* Video container to maintain Youtube 16:9 aspect ratio */
.youtubelightbox__videowrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

/* Make Youtube IFRAME responsive */
.youtubelightbox__videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.аbout-complex {
  padding: 5rem 1.5rem;
  position: relative;
}
.аbout-complex::after {
  content: "VI";
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 40rem;
  transition: all 0.2s ease-in;
  z-index: -1;
  top: -4rem;
  left: calc(50% + 55rem);
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1439px) {
  .аbout-complex::after {
    display: none;
  }
}
.аbout-complex:hover::after {
  opacity: 0.2;
}

.аbout-complex__title {
  margin-bottom: 8.8rem;
}
@media screen and (max-width: 940px) {
  .аbout-complex__title {
    margin-bottom: 4.4rem;
  }
}

.аbout-complex__text {
  line-height: 1.5;
}
@media screen and (max-width: 940px) {
  .аbout-complex__text {
    font-size: 1.4rem;
  }
}

.header {
  padding: 3rem 1.5rem;
}

.apartment-information {
  padding: 0 1.5rem;
}

.apartment-information__title {
  margin-bottom: 8.8rem;
}
@media screen and (max-width: 940px) {
  .apartment-information__title {
    margin-bottom: 4.4rem;
  }
}

.apartmentDetail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slider {
  width: 60%;
  height: 50rem;
  margin: 0 auto;
  margin-bottom: 7rem;
  position: relative;
}

#slide {
  width: -moz-max-content;
  width: max-content;
}

.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
}
.item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.item:nth-child(3) {
  left: -33%;
  z-index: -1;
}

.item:nth-child(4) {
  right: -33%;
  z-index: -1;
}

.item:nth-child(n+5) {
  left: calc(-33% + 440px);
  opacity: 0;
  z-index: -1;
}

.buttons {
  position: absolute;
  bottom: 1rem;
  z-index: 555;
  width: 100%;
  text-align: center;
}

.buttons button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
}
.buttons button img {
  width: 100%;
  height: 100%;
}

.buttons button:hover {
  background: #bac383;
}

.apartmentDetail__inf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  align-items: center;
  gap: 7rem;
}

.title-2_3 {
  margin-bottom: 1.5rem;
}

.apartmentDetail__text {
  line-height: 1.5;
}
@media screen and (max-width: 940px) {
  .apartmentDetail__text {
    font-size: 1.4rem;
  }
}

.apartmentDetail__item {
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 940px) {
  .apartmentDetail__item {
    font-size: 1.4rem;
  }
}
.apartmentDetail__item span {
  font-weight: normal;
  color: #D4C17F;
}