// общие стили для страниц loft-olympus, nice-loft, loft-studio и loft-prestige
.header{
    padding: 3rem 1.5rem;
}

.apartment-information{
    padding: 0 1.5rem;
}

.apartment-information__title{
    margin-bottom: 8.8rem;
    @include mediaTablet{
        margin-bottom: 4.4rem;
    }
}

// контент
.apartmentDetail{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// слайдер
.slider{
    width: 60%;
    height: 50rem;
    margin: 0 auto;
    margin-bottom: 7rem;
    position: relative;
    @include mediaSlider {
        width: 80%;
    }
}

#slide{
    width: max-content;
}

.item{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: .5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.item:nth-child(1),
.item:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.item:nth-child(3){
    left: -33%;
    z-index: -1;
}

.item:nth-child(4){
    right: -33%;
    z-index: -1;
}

.item:nth-child(n + 5){
    left: calc(-33% + 440px);
    opacity: 0;
    z-index: -1;
}

.item:nth-child(n + 3){
    @include mediaSlider {
        display: none;
    }
}

// кнопки слайдера
.buttons{
    position: absolute;
    bottom: 1rem;
    z-index: 55;
    width: 100%;
    text-align: center;
}

.buttons button{
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    transition: .5s;
    img{
        width: 100%;
        height: 100%;

    }
}

.buttons button:hover{
    background: #bac383;
}

// информация о жилье
.apartmentDetail__inf{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    align-items: center;
    gap: 7rem;
}

.title-2_3{
    margin-bottom: 1.5rem;
}

.apartmentDetail__text{
    line-height: 1.5;
    @include mediaTablet{
        font-size: 1.4rem;
    }
}

.apartmentDetail__item{
    font-weight: bold;
    line-height: 1.5;
    @include mediaTablet{
        font-size: 1.4rem;
    }
    span{
        font-weight: normal;
        color: $accent;
    }
}