.feedback{
    padding: 18rem 1.5rem;
    @include mediaTablet{
        padding: 9rem 1.5rem;
    }
}

.feedback__title{
    margin-bottom: 3.8rem;
}

.feedback__form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    align-items: center;
    @include mediaTablet{
        grid-template-columns: minmax(20rem, 30rem);
        justify-content: center;
    }
}