.header-section{
    height: max-content;
    background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg") center / cover no-repeat;
}

// контейнер с контентом секции header
.header-section__container{
    height: 100vh;
    padding: 3rem 1.5rem 7.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// div с логотипом и меню
.header-section__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// меню для мобильной версии
.header-section__top--mobile{
    position: fixed;
    padding: 4rem 0;
    background: $dark;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 6rem;
    .header-section__nav{
        display: block;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
    .header-section__nav-btn{
        position: fixed;
        top: 5rem;
        right: 1.5rem;
    }
}

.header-section__nav-btn{
    display: none;
    @include mediaTablet{
        display: block;
    }
}

// логотип
.header-section__logo{
    img{
        width: 100%;
        height: 100%;
    }
}

// меню
.header-section__nav{
    @include mediaTablet{
        display: none;
    }
}

// заголовок первого уровня
.header-section__title{
    text-align: center;
    font-size: 4.8rem;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
    line-height: 130%;
    @include mediaTablet{
        font-size: 3.2rem;
    }
}

// div с адресом и телефоном
.header-section__bottom{
    text-align: center;
    @include mediaTablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
}

.info{
    font-size: 1.8rem;
    position: relative;
    padding-left: 3.5rem;
    @include mediaTablet{
        font-size: 1.4rem;
        padding-left: 3rem;
    }
    &:not(:last-child){
        margin-right: 10rem;
        @include mediaTablet{
            margin: 0;
        }
    }
    &::before{
        content:"";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0%, -50%);
        width: 2.1rem;
        height: 2.1rem;
        background: url(./../../icons//header/placeholder.svg) no-repeat;
    }
    &_tel::before{
        background: url(./../../icons//header/phone-call.svg) no-repeat;
    }
}