.header-section{
    height: max-content;
    background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg") center / cover no-repeat;
}

// контейнер с контентом секции header
.header-section__container{
    height: 85vh;
    padding: 3rem 1.5rem 7.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// div с логотипом и меню
.header-section__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// логотип
.header-section__logo{
    img{
        width: 100%;
        height: 100%;
    }
}

// заголовок первого уровня
.header-section__title{
    text-align: center;
    font-size: 4.8rem;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
    line-height: 130%;
}

// div с адресом и телефоном
.header-section__bottom{
    text-align: center;
}

.info{
    font-size: 1.8rem;
    position: relative;
    padding-left: 3.5rem;
    &:not(:last-child){
        margin-right: 10rem;
    }
    &::before{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 2.1rem;
        height: 2.1rem;
        background: url(./../../icons//header/placeholder.svg) no-repeat;
    }
    &_tel::before{
        background: url(./../../icons//header/phone-call.svg) no-repeat;
    }
}