.section-map{
    padding: 18rem 1.5rem;
    position: relative;
    &::before{
        content: "V";
        @include decorNumber;
        z-index: -1;
        top: 16rem;
        right: calc(50% + 55rem);
        transform: translate(50%, 0);
    }
    &:hover::before{
        opacity: .2;
    }
    @include mediaTablet{
        padding: 9rem 1.5rem;
    }
}

.section-map__title{
    margin-bottom: 8.8rem;
    @include mediaTablet{
        margin-bottom: 4.4rem;
    }
}

.map{
    height: 36rem;
    background: #626262;
}