* {
    box-sizing: border-box;
  }

// шрифты ("Roboto"; "Playfair Display"; "Raleway(regular, bold)")
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap');

// базовые стили
html{
    font-size: 62.5%;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: $dark;
    color: $white;
    font-size: 1.6rem;
}

// базовые стили для ссылок
a{
    color: $white;
    text-decoration: none;
    transition: color .2s ease-in;
    &:hover{
        color: $accent;
    }
}

// базовые стили для контейнера
.container{
    margin: 0 auto;
    max-width: 114rem;
    border: 1px solid white; // удалить
}

// стили заголовка второго уровня
.title-2{
    font-size: 3.6rem;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
}

// стили email ссылки
.link-mail{
    color: $accent;
    font-weight: 700;
}

//  отключение скролла для меню моб. версии
.no-scroll{
    overflow-y: hidden;
}