// декоративные римские цифры на странице
@mixin decorNumber{
    position: absolute;
    top: 0;
    line-height: 1.15;
    opacity: .02;
    font-family: $font-accent;
    font-size: 40rem;
    transition: all .2s ease-in;
    @include mediaDecorNumber {
        display: none;
    }
}

// адаптация сайта
@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mediaSlider {
    @media screen and (max-width: $slider) {
        @content;
    }
}

@mixin slider-80rem {
    @media screen and (max-width: $slider-80rem) {
        @content;
    }
}

@mixin slider-60rem {
    @media screen and (max-width: $slider-60rem) {
        @content;
    }
}

@mixin slider-50rem {
    @media screen and (max-width: $slider-50rem) {
        @content;
    }
}

@mixin slider-35rem {
    @media screen and (max-width: $slider-35rem) {
        @content;
    }
}

@mixin mediaDecorNumber {
    @media screen and (max-width: $decorNumber) {
        @content;
    }
}