// шрифты
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif; // regular
$font-roboto-bold: 700; // bold

// цвета
$dark: #242B33;
$accent: #D4C17F;
$white: #FFFFFF;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// media
$decorNumber: 1439px;
$slider: 1100px;
$tablet: 940px;
